        body{background-color: gainsboro}
        h1{color: darkred; font-size: 60px;font-weight: 1000;text-align: center}
        h2{color: darkred; font-size: 42px;font-weight: 900}
        p{font-size: 25px; font-weight: 600}
        span{color: orangered;text-decoration: underline}
        #p1{color: chocolate}
        .ab{text-align: center}
        .altcizgi{text-decoration: underline}

    